@charset "UTF-8";
/*! modern-normalize v1.0.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/* ===== ДОПОЛНЕНИЯ от Sandra Hrevtsova ===== */
/* обнуляем дефолтные маркеры у всех маркированных списков */
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* обнуляем дефолтные подчеркивания у всех ссылок */
a {
  text-decoration: none;
}

* {
  margin: 0;
  padding: 0;
}

code,
kbd,
samp,
pre {
  font-family: 'Open Sans', sans-serif;
  /* font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace; 1 */
  font-size: 1em;
  /* 2 */
}

/* ===== ДОПОЛНЕНИЯ от Sandra Hrevtsova ===== */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/**
Use a more readable tab size (opinionated).
*/
:root {
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
*/
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/*
Sections
========
*/
/**
Remove the margin in all browsers.
*/
body {
  margin: 0;
  padding: 0;
}

/**
Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

address {
  font-style: normal;
}

/**
Remove the inheritance of text transform in Edge and Firefox.
1. Remove the inheritance of text transform in Firefox.
*/
button,
select {
  /* 1 */
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

@font-face {
  font-family: "Gilroy";
  src: url("../../fonts/Gilroy-ExtraBold.eot");
  src: local("Gilroy ExtraBold"), local("../../fonts/Gilroy-ExtraBold"), url("../../fonts/Gilroy-ExtraBold.eot?#iefix") format("embedded-opentype"), url("../../fonts/Gilroy-ExtraBold.woff") format("woff"), url("../../fonts/Gilroy-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("../../fonts/Gilroy-Heavy.eot");
  src: local("Gilroy Heavy"), local("../../fonts/Gilroy-Heavy"), url("../../fonts/Gilroy-Heavy.eot?#iefix") format("embedded-opentype"), url("../../fonts/Gilroy-Heavy.woff") format("woff"), url("../../fonts/Gilroy-Heavy.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("../../fonts/Gilroy-LightItalic.eot");
  src: local("Gilroy Light Italic"), local("../../fonts/Gilroy-LightItalic"), url("../../fonts/Gilroy-LightItalic.eot?#iefix") format("embedded-opentype"), url("../../fonts/Gilroy-LightItalic.woff") format("woff"), url("../../fonts/Gilroy-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Gilroy";
  src: url("../../fonts/Gilroy-ThinItalic.eot");
  src: local("Gilroy Thin Italic"), local("../../fonts/Gilroy-ThinItalic"), url("../../fonts/Gilroy-ThinItalic.eot?#iefix") format("embedded-opentype"), url("../../fonts/Gilroy-ThinItalic.woff") format("woff"), url("../../fonts/Gilroy-ThinItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: "Gilroy";
  src: url("../../fonts/Gilroy-BlackItalic.eot");
  src: local("Gilroy Black Italic"), local("../../fonts/Gilroy-BlackItalic"), url("../../fonts/Gilroy-BlackItalic.eot?#iefix") format("embedded-opentype"), url("../../fonts/Gilroy-BlackItalic.woff") format("woff"), url("../../fonts/Gilroy-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: "Gilroy";
  src: url("../../fonts/Gilroy-BoldItalic.eot");
  src: local("Gilroy Bold Italic"), local("../../fonts/Gilroy-BoldItalic"), url("../../fonts/Gilroy-BoldItalic.eot?#iefix") format("embedded-opentype"), url("../../fonts/Gilroy-BoldItalic.woff") format("woff"), url("../../fonts/Gilroy-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "Gilroy";
  src: url("../../fonts/Gilroy-SemiBold.eot");
  src: local("Gilroy SemiBold"), local("../../fonts/Gilroy-SemiBold"), url("../../fonts/Gilroy-SemiBold.eot?#iefix") format("embedded-opentype"), url("../../fonts/Gilroy-SemiBold.woff") format("woff"), url("../../fonts/Gilroy-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("../../fonts/Gilroy-UltraLightItalic.eot");
  src: local("Gilroy UltraLight Italic"), local("../../fonts/Gilroy-UltraLightItalic"), url("../../fonts/Gilroy-UltraLightItalic.eot?#iefix") format("embedded-opentype"), url("../../fonts/Gilroy-UltraLightItalic.woff") format("woff"), url("../../fonts/Gilroy-UltraLightItalic.ttf") format("truetype");
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: "Gilroy";
  src: url("../../fonts/Gilroy-SemiBoldItalic.eot");
  src: local("Gilroy SemiBold Italic"), local("../../fonts/Gilroy-SemiBoldItalic"), url("../../fonts/Gilroy-SemiBoldItalic.eot?#iefix") format("embedded-opentype"), url("../../fonts/Gilroy-SemiBoldItalic.woff") format("woff"), url("../../fonts/Gilroy-SemiBoldItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "Gilroy";
  src: url("../../fonts/Gilroy-Light.eot");
  src: local("Gilroy Light"), local("../../fonts/Gilroy-Light"), url("../../fonts/Gilroy-Light.eot?#iefix") format("embedded-opentype"), url("../../fonts/Gilroy-Light.woff") format("woff"), url("../../fonts/Gilroy-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("../../fonts/Gilroy-MediumItalic.eot");
  src: local("Gilroy Medium Italic"), local("../../fonts/Gilroy-MediumItalic"), url("../../fonts/Gilroy-MediumItalic.eot?#iefix") format("embedded-opentype"), url("../../fonts/Gilroy-MediumItalic.woff") format("woff"), url("../../fonts/Gilroy-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Gilroy";
  src: url("../../fonts/Gilroy-ExtraBoldItalic.eot");
  src: local("Gilroy ExtraBold Italic"), local("../../fonts/Gilroy-ExtraBoldItalic"), url("../../fonts/Gilroy-ExtraBoldItalic.eot?#iefix") format("embedded-opentype"), url("../../fonts/Gilroy-ExtraBoldItalic.woff") format("woff"), url("../../fonts/Gilroy-ExtraBoldItalic.ttf") format("truetype");
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: "Gilroy";
  src: url("../../fonts/Gilroy-Regular.eot");
  src: local("Gilroy Regular"), local("../../fonts/Gilroy-Regular"), url("../../fonts/Gilroy-Regular.eot?#iefix") format("embedded-opentype"), url("../../fonts/Gilroy-Regular.woff") format("woff"), url("../../fonts/Gilroy-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("../../fonts/Gilroy-HeavyItalic.eot");
  src: local("Gilroy Heavy Italic"), local("../../fonts/Gilroy-HeavyItalic"), url("../../fonts/Gilroy-HeavyItalic.eot?#iefix") format("embedded-opentype"), url("../../fonts/Gilroy-HeavyItalic.woff") format("woff"), url("../../fonts/Gilroy-HeavyItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: "Gilroy";
  src: url("../../fonts/Gilroy-Medium.eot");
  src: local("Gilroy Medium"), local("../../fonts/Gilroy-Medium"), url("../../fonts/Gilroy-Medium.eot?#iefix") format("embedded-opentype"), url("../../fonts/Gilroy-Medium.woff") format("woff"), url("../../fonts/Gilroy-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("../../fonts/Gilroy-RegularItalic.eot");
  src: local("Gilroy Regular Italic"), local("../../fonts/Gilroy-RegularItalic"), url("../../fonts/Gilroy-RegularItalic.eot?#iefix") format("embedded-opentype"), url("../../fonts/Gilroy-RegularItalic.woff") format("woff"), url("../../fonts/Gilroy-RegularItalic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Gilroy";
  src: url("../../fonts/Gilroy-UltraLight.eot");
  src: local("Gilroy UltraLight"), local("../../fonts/Gilroy-UltraLight"), url("../../fonts/Gilroy-UltraLight.eot?#iefix") format("embedded-opentype"), url("../../fonts/Gilroy-UltraLight.woff") format("woff"), url("../../fonts/Gilroy-UltraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("../../fonts/Gilroy-Bold.eot");
  src: local("Gilroy Bold"), local("../../fonts/Gilroy-Bold"), url("../../fonts/Gilroy-Bold.eot?#iefix") format("embedded-opentype"), url("../../fonts/Gilroy-Bold.woff") format("woff"), url("../../fonts/Gilroy-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("../../fonts/Gilroy-Thin.eot");
  src: local("Gilroy Thin"), local("../../fonts/Gilroy-Thin"), url("../../fonts/Gilroy-Thin.eot?#iefix") format("embedded-opentype"), url("../../fonts/Gilroy-Thin.woff") format("woff"), url("../../fonts/Gilroy-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("../../fonts/Gilroy-Black.eot");
  src: local("Gilroy Black"), local("../../fonts/Gilroy-Black"), url("../../fonts/Gilroy-Black.eot?#iefix") format("embedded-opentype"), url("../../fonts/Gilroy-Black.woff") format("woff"), url("../../fonts/Gilroy-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "TrajanPro3-Bold";
  src: url("../../fonts/TrajanPro3-Bold.otf");
  font-weight: 400;
  font-style: normal;
}

.container {
  width: 320px;
  padding-left: 12px;
  padding-right: 12px;
  margin: 0 auto;
}

.hamburger-menu {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 10px;
  padding: 10px;
  border-radius: 5px;
  background-color: #65c466;
}

.hamburger-menu > .title {
  font-family: Gilroy;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 1.22;
  color: #ffffff;
}

.menu-btn {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  z-index: 1;
}

.menu-btn > span {
  position: absolute;
  display: block;
  width: 24px;
  border: 1px solid #ffffff;
  background-color: #ffffff;
}

.menu-btn > span::before,
.menu-btn > span::after {
  content: "";
  position: absolute;
  display: block;
  top: -7px;
  left: -1px;
  width: 24px;
  border: 1px solid #ffffff;
  background-color: #ffffff;
}

.menu-btn > span::after {
  top: 5px;
}

.checkbox {
  position: absolute;
  top: 33%;
  right: 33%;
  opacity: 0;
}

.checkbox:checked ~ .menu-btn > span::before {
  -webkit-transform: rotate(0);
          transform: rotate(0);
  top: 0;
  opacity: 0;
}

.checkbox:checked ~ .menu-btn > span::after {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  top: 0;
}

.checkbox:checked ~ .menu-btn > span {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
/*# sourceMappingURL=main.css.map */