.question-container {
  padding-top: 26px;
  padding-bottom: 44px;
  padding-left: 19px;
  padding-right: 19px;
}
.question {
  &__title {
    margin-bottom: 20px;
    font-family: $ff-trojan;
    font-weight: 400;
    font-size: 23px;
    line-height: 1.22;
    text-transform: uppercase;
    color: #65c466;
  }
  &__text {
    // margin-bottom: 45px;
    font-size: 13px;
    line-height: 1.15;
  }
  &__img {
    width: 252px;
    display: block;
    height: 329px;
    margin-top: -42px;
    margin-bottom: 20px;
    background-image: url("../image/themis.png"),
      url("../image/themis-shadow.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
}

.form-online {
  max-width: 266px;
  margin-bottom: 40px;
  &__label {
    font-size: 11px;
    line-height: 1.18;
    color: #c2c2c2;
  }

  &__input {
    width: 100%;
    height: 33px;
    margin-bottom: 11px;
    background: #ffffff;
    border: 0.801824px solid #cccccc;
    box-sizing: border-box;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    border-radius: 4.00912px;
    padding: 10px 12px;
    &:focus {
      border: 1px solid #65c466;
      outline: none;
    }
  }

  &__comment {
    width: 100%;
    height: 89px;
    padding: 12px 10px;
    margin-bottom: 19px;
    background: #ffffff;
    border: 0.801824px solid #cccccc;
    box-sizing: border-box;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    border-radius: 4.00912px;
    resize: none;
    &:focus {
      border: 1px solid #65c466;
      outline: none;
    }
  }
}
.form-police {
  display: flex;
  align-items: center;
}
.form-police-label {
  display: flex;
  align-items: center;
}
.checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
  &__icon {
    width: 12px;
    display: inline-block;
    height: 12px;
    border: 1px solid #414141;
    border-radius: 4px;
    margin-right: 9px;
  }
  &__text {
    font-weight: normal;
    font-size: 8px;
    line-height: 1.25;

    color: #a3a3a3;
    margin-right: 14px;
    width: 126px;
  }
}

.checkbox:focus + .checkbox__icon {
  border: 2px solid #65c466;
}

.checkbox:checked + .checkbox__icon {
  box-shadow: 0px 0px 0px 2px #65c466;
  border: 2px solid #fff;
  background-color: #65c466;
  border-radius: 3px;
  background-origin: border-box;
}
.form-police-btn {
  display: inline-block;
  padding: 7px 17px;
  background: #65c466;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);
  border-radius: 3px;
  border: none;
  font-weight: 600;
  font-size: 8px;
  line-height: 1.12;
  /* identical to box height */

  text-align: center;

  color: #ffffff;
}
.question-img-form {
  position: relative;
  width: 282px;
  height: 231px;
  background: url("../image/pen-trap.png") left bottom, url("../image/pen.png");
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 4px;
}
.img-form-modal {
  position: absolute;
  top: 78px;
  left: 25px;
  width: 231px;
  height: 134px;
  padding: 13px;
  background-color: white;
  border-radius: 7px;
  &__title {
    width: 164px;
    margin-bottom: 10px;
    font-family: $ff-trojan;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.22;
    text-transform: uppercase;
    color: rgba(101, 196, 102, 0.7);
  }
  &__text {
    width: 164px;
    margin-bottom: 8px;
    font-size: 11px;
    line-height: 1.18;

    color: #414141;
  }
}
.img-form-modal-btn {
  display: block;
  padding: 6px 44px;
  margin: 0 auto;
  border: none;
  font-weight: 600;
  font-size: 10px;
  line-height: 1.2;
  /* identical to box height */

  text-align: center;
  color: #ffffff;
  background: #65c466;
  box-shadow: 0px 2.90241px 21.7681px rgba(0, 0, 0, 0.25);
  border-radius: 3.62802px;
}
