$currentColor: transparent;
$color-green: #65c466;
$color-text: #414141;
$color-white: #ffffff;
$color-footer: #243246;
$color-footer-second: #959aa6;
$color-second: #9d9d9d;
$color-form: #c2c2c2;
$color-form-second: #a3a3a3;
$color-secont-title: #696969;
$color-icon: #c2c1c2;
$color-thirty-title: #a9a9a9;
$ff-gilroy: Gilroy;
$ff-trojan: Trajan Pro 3;
$font-family: "Roboto", sans-serif;
